.tabItemCenter {
  align-items: center;
  justify-content: center;
}

.verticalWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.verticalTabWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.verticalContentArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
}

.pageNavigator {
  background-color: var(--background-2);
  color: var(--text-secondary);
  font-weight: 500;
  font-size: 12px;
  padding: var(--padding-small);
  border: 1px solid var(--background-6);
  border-radius: 4px;
  margin-top: var(--padding-small);
  width: 100%;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--background-3);
  }
}
