.customSelect {
  position: relative;
  width: 100%;

  .visuallyHiddenSelect {
    display: none;
  }

  .selectTrigger {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid var(--background-4);
    background-color: var(--background);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .arrow {
      display: flex;
      align-items: center;
      svg {
        width: 10px;
        height: auto;
        path {
          fill: var(--background-6);
        }
      }
    }
  }

  .selectDropdown {
    position: absolute;
    z-index: 999;
    width: 100%;
    margin: 0;
    padding: 2px;
    background-color: var(--background);
    border: 1px solid var(--background-4);
    list-style: none;
    max-height: 200px;
    overflow-y: auto;

    .selectOption {
      padding: 5px 10px;
      cursor: pointer;
      font-size: 12px;

      &:hover {
        background-color: var(--background-3);
      }
    }

    .selected {
      background-color: var(--primary);
      color: var(--white);
      font-weight: 600;
      &:hover {
        cursor: default;
        background-color: var(--primary);
      }
      &.highlighted {
        background-color: var(--primary);
      }
    }

    .highlighted {
      background-color: var(--background-3);
    }
  }
}
