.welcomeBackPanel {
  padding-left: 64px;
  padding-top: 96px;
  width: 100%;
  @media screen and (max-width: 768px) {
    max-height: fit-content;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: -1px 0 10px #00000080;
  }
  .welcomeMessage {
    font-size: 36px;
    color: #ffffff;
    font-weight: 600;
    margin: var(--rahi-cp-padding-large) 0 var(--rahi-cp-padding-medium);
    position: relative;
    z-index: 1;

    @media screen and (max-width: 768px) {
      font-size: 24px;
      margin: var(--rahi-cp-padding-large) 0 var(--rahi-cp-padding-small);
    }
  }

  .logoBackground {
    background: var(--White, #fff);
    padding: var(--rahi-cp-padding-medium);
    border-radius: calc(var(--rahi-cp-border-radius) * 2);
  }

  .welcomeDescription {
    color: var(--White, #fff);
    font-family: var(--Title-Large-Font, Roboto);
    font-size: 18px;
    font-weight: 400;
    line-height: var(--Title-Large-Line-Height, 28px);
    letter-spacing: var(--Title-Large-Tracking, 0px);
    position: relative;
    z-index: 1;
    max-width: 400px;
    @media screen and (max-width: 768px) {
      width: 100%;
      font-size: 14px;
    }
  }

  .copyright {
    color: #ffffff;
    font-size: 12px;
    opacity: 0.7;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 1;
    white-space: nowrap;
    @media screen and (max-width: 768px) {
      position: fixed;
      color: var(--rahi-cp-input-text-color);
    }
  }

  .fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }
}
