.builderPaneContainer {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-size: 20px 20px;
  background-position: 0 0;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(
    100vh - var(--header-height) - var(--control-panel-height) - 40px
  );
  outline: none;
  overflow: auto;
  border: 1px solid var(--background-4);
  border-radius: 4px;
  transition:
    border-color 0.2s,
    border-style 0.2s,
    background-color 0.2s,
    padding 0.2s;
  padding: 20px 15px;

  &.preview {
    background-color: var(--background);
    padding: 15px;
    border-color: var(--background-3);
  }

  &.emptyPane {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &.dragOver {
    border-color: var(--background-4);
    background-color: var(--background);
  }

  &.canDrop {
    background-color: var(--background);
    border-color: var(--primary);
    border-style: dashed;
    border-width: 2px;
    padding: 30px 20px;
  }

  &.active {
    border-color: var(--primary);
  }
}

.componentItem {
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid var(--background-4);
  border-radius: 4px;
  background-color: var(--background);
  transition:
    border-color 0.2s,
    background-color 0.2s;
  position: relative;

  &:hover {
    border-color: var(--primary);
  }

  &.active {
    border-color: var(--primary);
  }
}

.placeholder {
  color: var(--text-secondary);
  text-align: center;
  opacity: 0.8;
  user-select: none;
  transition:
    opacity 0.2s,
    transform 0.2s;
  font-size: 12px;

  .dragOver & {
    opacity: 1;
  }
}
