.inputWrapper {
  display: flex;
  align-items: center;
  background: var(--background-3);
  padding: 0 12px;
  height: 32px;
  width: 250px;
  gap: 4px;
  animation: transform 0.3s ease;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 8px rgba(var(--black), 0.1);
  z-index: 10;
}

.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid var(--light-bg);

  &:hover {
    background-color: var(--background-2);
  }

  &:last-child {
    border-bottom: none;
  }
}

.itemMain {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
}

.itemName {
  font-weight: 300;
}

.itemType {
  color: var(--text-secondary);
  font-size: 12px;
  background-color: var(--background-3);
  padding: 2px 6px;
  border-radius: 12px;
}

.itemLabel {
  font-size: 13px;
  color: var(--text-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemAdditionalFields {
  display: flex;
  flex-direction: row;
  flex: wrap;
  margin-top: 4px;
}

.itemField {
  font-size: 12px;
  color: var(--light-gray-3);
}

.selectedItem {
  background-color: var(--background-2);
  outline: 2px solid var(--primary);
}

.loadingItem,
.notFoundItem {
  padding: 10px;
  text-align: center;
  color: var(--text-secondary);
}
