$track-height: 4px;
$thumb-size: 14px;

.numericSlider {
  .selectedValue {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    color: var(--text);
  }

  .trackContainer {
    position: relative;
    width: 100%;
    height: $track-height;
    border-radius: $track-height;
    background-color: var(--background-4);
    margin: 8px 0;

    .trackFill {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 40%;
      border-radius: $track-height;
      background-color: var(--primary);
      pointer-events: none;
    }

    .rangeInput {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: $thumb-size;
      margin: 0;
      padding: 0;
      appearance: none;
      background: transparent;
      pointer-events: none;

      &::-webkit-slider-thumb {
        appearance: none;
        width: $thumb-size;
        height: $thumb-size;
        border-radius: 50%;
        background-color: var(--background);
        border: 2px solid var(--primary);
        pointer-events: none;
      }

      &::-moz-range-thumb {
        width: $thumb-size;
        height: $thumb-size;
        border-radius: 50%;
        background-color: var(--background);
        border: 2px solid var(--primary);
        pointer-events: none;
      }
    }
  }

  .rangeLabels {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: var(--background-6);
  }
}
